In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./preprocessed.csv")
df

                                                 content       user
0                                    server just dropped    Spencer
1                                                    Pog      Bryan
2                              Is this the virgin server       Luka
3                                                Ok wait       Luka
4                                           hmm i wonder    Spencer
...                                                  ...        ...
55839                                           and idts  Shahithya
55840                            i think it closes at 10  Shahithya
55841  yeah some girl tried to come in without her va...       Josh
55842                                             LMAOOO  Shahithya
55843                                       neutral_face    Maureen

[55844 rows x 2 columns]

In [3]:
for index, row in df.iterrows():
    name = str(row["user"])
    f = open("./train/" + name + "/" + name[0] + str(index) + ".txt", "w")
    f.write(row["content"])